<div class="container">
  <h2><%= @cocktail.name %></h2>
  <ul><% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %></li>
    <li><%= link_to "delete dose", dose_path(dose), method: :delete %></li>
    <% end %>
  </ul>
  <%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: :delete %>
  <br>
  <br>
  <%#= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
  <%= render 'doses/form_new_dose', dose: @dose %>
  <br>
  <%= link_to "Back to all the cocktails", cocktails_path %>
</div>
